body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: CENTER;
}

header nav ul {
  list-style: none;
  padding: 0;
}
header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: rgb(172, 161, 161);
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  background: rgb(243, 240, 240);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
